/*

  BASE

*/
html, body { font-family: -apple-system-body, avenir, 'avenir next', roboto, 'helvetica neue', helvetica, ubuntu, arial, sans-serif; }
.system-body { font-family: -apple-system-body, inherit; }
.system-headline { font-family: -apple-system-headline, inherit; }
.system-subheadline { font-family: -apple-system-subheadline, inherit; }
.system-caption1 { font-family: -apple-system-caption1, inherit; }
.system-caption2 { font-family: -apple-system-caption2, inherit; }
.system-footnote { font-family: -apple-system-footnote, inherit; }
.system-short-body { font-family: -apple-system-short-body, inherit; }
.system-short-headline { font-family: -apple-system-short-headline, inherit; }
.system-short-subheadline { font-family: -apple-system-short-subheadline, inherit; }
.system-short-caption { font-family: -apple-system-short-caption1, inherit; }
.system-short-footnote { font-family: -apple-system-short-footnote, inherit; }
.system-tall-body { font-family: -apple-system-tall-body, inherit; }

