/*

  SYSTEM FONTS

*/
html, body { font-family: -apple-system, avenir, 'avenir next', roboto, 'helvetica neue', helvetica, ubuntu, arial, sans-serif; }
/*

  https://webkit.org/blog/3709/using-the-system-font-in-web-content/

  "Going beyond the system font, iOS has dynamic type behavior, which can provide
  an additional level of fit and finish to your content. These text styles
  identify more than simply a particular font family; instead, they represent an
  entire style, including size and weight. These styles are therefore
  characterized by values given to the more-general font CSS property."

  Below are single purpose classes for using adaptive type on the web for ios devices.

*/
.ios-body { font: -apple-system-body; }
.ios-headline { font: -apple-system-headline; }
.ios-subheadline { font: -apple-system-subheadline; }
.ios-caption1 { font: -apple-system-caption1; }
.ios-caption2 { font: -apple-system-caption2; }
.ios-footnote { font: -apple-system-footnote; }
.ios-short-body { font: -apple-system-short-body; }
.ios-short-headline { font: -apple-system-short-headline; }
.ios-short-subheadline { font: -apple-system-short-subheadline; }
.ios-short-caption { font: -apple-system-short-caption1; }
.ios-short-footnote { font: -apple-system-short-footnote; }
.ios-tall-body { font: -apple-system-tall-body; }

