/*

  SYSTEM FONTS

*/

.system-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* Linux */
               sans-serif; /* Everything else */
}

.system-mono { 
  font-family: Menlo, Monaco, /* MacOS */
              'Segoe UI Mono, Lucida Console', /* Windows */
              'Fira Mono', /* Firefox OS */
              'Roboto Mono', 'Noto Mono', /* Google stuff */
              'Droid Sans Mono', /* Old Google stuff */
              'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', /* Linux */
              'Courier New', /* MacOS and Windows */
              monospace; /* Everything else */
}

/*
  References:

  https://webkit.org/blog/3709/using-the-system-font-in-web-content/
  https://en.wikipedia.org/wiki/Avenir_(typeface)
  https://www.google.com/design/spec/style/typography.html#typography-typeface
  https://core.trac.wordpress.org/ticket/36753#comment:85
  http://font.ubuntu.com/
  https://mozilla.github.io/Fira/
  https://fedorahosted.org/liberation-fonts/

*/
