/*

  SYSTEM FONTS

*/

.system-sans-serif {
  font-family: -apple-system,
               'avenir next', avenir,
               roboto, noto,
               'helvetica neue', helvetica,
               ubuntu,
               'franklin gothic medium', 'century gothic',
               sans-serif;
}


/*
  Reference:

  https://webkit.org/blog/3709/using-the-system-font-in-web-content/
  https://en.wikipedia.org/wiki/Avenir_(typeface)
  https://www.google.com/design/spec/style/typography.html#typography-typeface

*/
